

/*****************General*****************/
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/*****************Header*************/ 
header{
  background:#DE3939;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#DE3939 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header #logo{
  float:left;
}

header #logo h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#000000;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#main_show{
  min-height:525px;
  background:url('img/parking.jpg') no-repeat 0 -2000px ;
  text-align:center;
  opacity: 0.5;
  color:#ffffff;
}

#main_show h1{
  margin-top:200px;
  font-size:55px;
  margin-bottom:10px;
}

#main_show p{
  font-size:20px;
}

/*Three Tiles*/
#tiles{
  margin-top:20px;
}

#tiles .tile{
  float:left;
  text-align: center;
  width:32%;
  padding:10px;
}

#tiles .tile img{
  width:100px;
}

/**Footer **/ 
footer{
  padding:10px;
  margin-top:20px;
  color:#ffffff;
  background-color:#7B7A7A;
  text-align: center;
}

#share-buttons img {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
 
 * {box-sizing: border-box}

.dbackground{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

 /**Search Page**/ 
/* Full-width input fields */
input[type=text], input[type=password], input[type=file], #description{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=date], input[type=time], input [type="range"]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus , input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

.stars, .dist-select, .price_range {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit], .redButton {
  width: 100%;
  background-color: #DE3939;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover, .redButton:hover {
  background-color: #e81414;
}

hr {
  border: 2px solid #f1f1f1;
  margin-bottom: 25px;
}
/*Sigin-container on register page*/
/* Set a grey background color and center the text of the "sign in" section */
.sigin_container {
  background-color: #f1f1f1;
  padding: 10px;
  width: 85%;
  margin: auto;
  text-align: center;
}

/*Results Page */
#results_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  padding: 20px;
  margin-bottom:5px;
  box-shadow: 20;
}
ul#results li{
  list-style: none;
  float; right;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

 ul#results li img{
    border: 1px solid #DE3939; /* Red border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mapImage {
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding :20px;
}


/**Parking Spot Example**/
.img-rounded{
  width:10%;
  height:auto;
}
.rblock{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.rblock-name{
  font-size:12px;
  margin:10px 0;
}
.rblock-date{
  font-size:12px;
}
.rblock-rate{
  font-size:13px;
  margin-bottom:15px;
}
.rblock-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.rblock-description{
  font-size:13px;
}



/* Media Queries */
@media(max-width: 768px){
  header #logo,
  header nav,
  header nav li,
  #tiles .tile,
  article#main-col,
  #results_img{
    float:none;
    text-align:center;
    width:100%;
  }

 .mapImage{
    float:none;
    text-align:center;
    width:auto;
    height:200px;
 }

  header{
    padding-bottom:20px;
  }

  #main_show h1{
    margin-top:40px;
  }

}

